{% extends 'base.html' %}
{% block tit %}用户设置{% endblock %}
{% block main %}
<article id="settings">
    <h1>用户设置</h1>
    <form method='post' enctype="multipart/form-data" id='change_avatar'>
        <h2>头像</h2>
        {{xsrf()}}
        <img src="{{avatar(me)}}">
        {{field_maker(forms['ChangeAvatar'].avatar)}}
        <p><input type="submit" value="上传头像"></p>
        {{avatar_error}}
    </form>

    <form method='post' id='change_person_data'>
		<h2>修改名称</h2>
        {{xsrf()}}
        {{field_maker(forms['ChangeName'].name, show_label = False)}}
		<h2>个人简介</h2>
		{{field_maker(forms['EditBio'].bio, show_label = False)}}
		<h2>修改密码</h2>
		{{field_maker(forms['ChangePassword'].password)}}
		{{field_maker(forms['ChangePassword'].new_password)}}
		{{field_maker(forms['ChangePassword'].new_password_repeat)}}
        <input type="submit" value="修改">
    </form>
</article>
{% endblock %}
