{% macro field(field, cls='') -%}
<p>{{field.label()}}</p>
<p>{{field(class_ = cls)}}</p>
{%if field.errors%}
<ul class='errors'>
    {%for error in field.errors%}
    <li class='error'>{{error}}</li>
    {%endfor%}
</ul>
{% endif %}
{%- endmacro %}
<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <title>Hanger - {%block tit%}一个小框架{%endblock%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Le styles -->
        <link href="{{static("css/bootstrap.css")}}" rel="stylesheet">
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
        <link href="{{static("css/bootstrap-responsive.css")}}" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        </head>
    <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/">Hanger</a>
              <div class="nav-collapse">
                  {%include "inc/userbar.html"%}
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        <div class="container">
            {% block main %}{% endblock %}
            <footer>Powered by <a href="http://github.com/tioover/hanger/">Hanger</a>.</footer>
        </div>
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{static("js/bootstrap.js")}}"></script>
    </body>
</html>
