{% macro field(field, cls='') -%}
<p>{{field.label()}}</p>
<p>{{field(class_ = cls)}}</p>
{%if field.errors%}
<ul class='errors'>
    {%for error in field.errors%}
    <li class='error'>{{error}}</li>
    {%endfor%}
</ul>
{% endif %}
{%- endmacro %}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <title>Hanger - {%block tit%}一个小框架{%endblock%}</title>
        <link rel="stylesheet" media="screen" href="{{static('style.css')}}">
    </head>
    <body>
        {% block header %}
        <header>
            <div id='title'><a href="/">Hanger</a></div>
        </header>
        {% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}
        <footer>Powered by <a href="http://github.com/tioover/hanger/">Hanger</a>.</footer>
        {% endblock %}
    </body>
</html>
