{% extends 'base.html' %}
{% block tit %}用户设置{% endblock %}
{% block main %}
<article id="settings">
    <h1>用户设置</h1>
    <form method='post' enctype="multipart/form-data" id='change_avatar'>
		<h2>{{ forms['ChangeAvatar'].avatar.label() }}</h2>
        {{xsrf()}}
		<p><img src="{{avatar(me)}}"></p>
		<p>{{ forms['ChangeAvatar'].avatar() }}</p>
        <p><input type="submit" value="上传头像"></p>
        {{avatar_error}}
    </form>

    <form method='post' id='change_person_data'>
		<h2>{{ forms['ChangeName'].name.label() }}</h2>
        {{xsrf()}}
        {{forms['ChangeName'].name()}}
		<h2>{{ forms['EditBio'].bio.label() }}</h2>
		{{forms['EditBio'].bio()}}
		<h2>修改密码</h2>
		{{field_maker(forms['ChangePassword'].password)}}
		{{field_maker(forms['ChangePassword'].new_password)}}
		{{field_maker(forms['ChangePassword'].new_password_repeat)}}
        <input type="submit" value="修改">
    </form>
</article>
{% endblock %}
