{% extends 'base.html' %}
{% block tit %}用户设置{% endblock %}
{% block main %}
<article id="settings">
    <h1>用户设置</h1>
    <form method='post' enctype="multipart/form-data">
        {{xsrf()}}
        <fieldset>
            <legend>修改头像</legend>
            <p><img src="{{avatar(me)}}"></p>
            {{ field(forms['ChangeAvatar'].avatar) }}
        </fieldset>
        <fieldset>
            <legend>个人信息</legend>
            {{ field(forms['ChangeName'].name) }}
            {{ field(forms['EditBio'].bio)}}
        </fieldset>
        <fieldset>
            <legend>修改密码</legend>
            {{field(forms['ChangePassword'].password)}}
            {{field(forms['ChangePassword'].new_password)}}
            {{field(forms['ChangePassword'].new_password_repeat)}}
        </fieldset>
        <input type="submit" value="保存更改">
    </form>
</article>
{% endblock %}
